extends layout

block content
  h4(style={ 'padding':'20px 0 0 20px', 'font-family': 'Roboto, monospace', 'font-width':'800px'}) 
    strong 
      u #{title}

  aside(style={ width:'30%', 'padding':'20px','font-family': 'Roboto, monospace'})
      div 
        strong Bikes
        ul(class="list-group")
          li(class="list-group-item")
            a(href="catalog/bikes/mountain") Mountain
          li(class="list-group-item")
            a(href="catalog/bikes/road") Road
      div 
        strong Components
        ul(class="list-group")
          li(class="list-group-item")
            a(href="catalog/components/suspensions") Suspensions
          li(class="list-group-item") 
              a(href="catalog/components/gears") Gears
          li(class="list-group-item") 
            a(href="catalog/components/wheels") Wheels
      hr(style= {margin:'25px 0 15px 0'})
      div 
        strong Create new elements
        ul(class="list-group")
          li(class="list-group-item") 
            a(href="catalog/bike/create") Bike
          li(class="list-group-item") 
            a(href="catalog/components/suspension/create") Suspension
          li(class="list-group-item")
            a(href="catalog/components/gear/create") Gear
          li(class="list-group-item")
            a(href="catalog/components/wheel/create") Wheel